
    <body>
        <div class="left">
            <div class="name-hero">
                <div class="me-img"></div>
                <div class="name-text">
                   
                    <h1>GREESHMA BANDAPALLI</h1>
                    <p>B.Tech(ECE)</p>
                    <p> <a href="#" style="color: blue;">greeshma.bsu27@gmail.com</a></p> 
                    <p> <a href="#"  style="color: blue;">9121342647</a></p>
                    <h4>PERSONAL DETAILS</h4>
                        <ul>
                            <li><strong>Father’s Name</strong>   :-   B.Umamaheshwar</li>
                            <li><strong>Present Address</strong> :-   45-57,<br>srinivasnagar,jagathgirigutta,Hyderabad</li>
                            <li><strong>Date of Birth</strong>	 :-   27th october,1998</li>
                            <li><strong>Language Known</strong>	 :-	 Telugu,English</li>
                            <li><strong>Marital Status</strong>	 :-	 Single</li>
                            <li><strong>Nationality</strong>  	 :-	 Indian</li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="inner">
                    <h2>Objective</h2>
                    <p style="display: block;">To work in a firm with a professional work driven environment where I can utilize and <br> apply my knowledge,skills which would enable me as a fresh graduate to grow while<br>fulfilling organizational goals.</p>
                    <h2>Academic Credentials</h2>
                    <ul>
                        <li>B.Tech(ECE) from Vaagdevi Engineering College in the year of 2020 with an aggregate of 6.87</li>
                        <li>Intermediate from SR Junior College in the year of 2016 with an Percentage of 82</li>
                        <li>10<sup>th</sup> from St.Gabriel's High School in the year of 2014 with an CGPA of 9.5</li>
                    </ul>
                    <h2>Projects</h2>
                    <h4><li>Angular project</li></h4>
                    <a href="https://greeshma-9121.github.io/smytten/home" style="color: blue;" target="_blank">https://greeshma-9121.github.io/smytten/home</a>
                    <h4><li>Temparature based Fan Speed Control</li></h4>
                    <p>We want to create an efficient fan so that when we use the fan there is no need to manually set speed and on / off, or when we forget to turn off the fan we don't need to fear more electricity costs. How it works on this fan includes: 1. In here the PIR sensor as an on / off device with input detects human or human movement. 2. LM35 sensor as a fan switch with indoor temperature input, when the room temperature is getting higher then the speed of the fan is also getting higher, and vice versa.
                    </p>
                    <h4><li>Alcohol Sensing Alert with Engine Locking System</li></h4>
                    <h2>Technical Skills</h2>
                    <ul class="skill-set">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Angular13</li>
                        <li>Microsoft Office</li>
                    </ul>
                    <h2>Interpersonal skills</h2>
                    <ul>
                       <li>Ability to rapidly build relationship and set up trust.</li>
                       <li>Confident and Determined</li>
                       <li>Ability to cope up with different situations.</li>
                    </ul>
                    <h2>Personal Interests</h2>
                    <ul class="skill-set">
                        <li>Sketching</li>
                        <li>Learning new things</li>
                        <li>Designing</li>
                    </ul>
            </div>
        </div> 
    </body>